html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(126, 211, 211);
    padding: 10px 20px 0px;
}
.header {
    background-color: rgb(229, 238, 238);
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
    text-align: center;
}
.footer {
    background-color: rgb(57, 52, 71);
    min-height: 150px;
    color: rgb(141, 146, 150);
}
.slogan {
 display: block;
 margin: 0 auto;
 border: 2px solid black;
}
.principaltext {
    text-align: center;
    font-weight: normal;
}
.principaltext2 {
    text-align: center;
    font-weight: normal;
    padding: 50px 0 0 0;
}